openapi: 3.1.0
info:
  title: NodePing Accounts API
  description: NodePing provides uptime monitoring for websites and services. The REST API lets accounts manage checks, contacts, contact groups, schedules, results, notifications, and account settings.
  version: '1'
  contact:
    name: NodePing Support
    url: https://nodeping.com/
  license:
    name: Proprietary
    url: https://nodeping.com/
servers:
- url: https://api.nodeping.com/api/1
  description: NodePing API v1
security:
- ApiTokenQuery: []
- BasicAuth: []
tags:
- name: Accounts
paths:
  /accounts:
    get:
      summary: Get account information
      operationId: getAccounts
      responses:
        '200':
          description: Account details
      tags:
      - Accounts
    post:
      summary: Create a SubAccount
      operationId: createAccount
      responses:
        '200':
          description: SubAccount created
      tags:
      - Accounts
    put:
      summary: Update account
      operationId: updateAccount
      responses:
        '200':
          description: Account updated
      tags:
      - Accounts
    delete:
      summary: Delete a SubAccount
      operationId: deleteAccount
      responses:
        '200':
          description: Account deleted
      tags:
      - Accounts
components:
  securitySchemes:
    ApiTokenQuery:
      type: apiKey
      in: query
      name: token
      description: API token passed as the `token` query parameter
    BasicAuth:
      type: http
      scheme: basic
      description: API token used as the username in HTTP Basic Auth
externalDocs:
  description: NodePing API Documentation
  url: https://nodeping.com/docs-api.html
