openapi: 3.1.0
info:
  title: NodePing Accounts Contacts API
  description: NodePing provides uptime monitoring for websites and services. The REST API lets accounts manage checks, contacts, contact groups, schedules, results, notifications, and account settings.
  version: '1'
  contact:
    name: NodePing Support
    url: https://nodeping.com/
  license:
    name: Proprietary
    url: https://nodeping.com/
servers:
- url: https://api.nodeping.com/api/1
  description: NodePing API v1
security:
- ApiTokenQuery: []
- BasicAuth: []
tags:
- name: Contacts
paths:
  /contacts:
    get:
      summary: List contacts
      operationId: listContacts
      responses:
        '200':
          description: Contacts listed
      tags:
      - Contacts
    post:
      summary: Create a contact
      operationId: createContact
      responses:
        '200':
          description: Contact created
      tags:
      - Contacts
    put:
      summary: Update a contact
      operationId: updateContact
      responses:
        '200':
          description: Contact updated
      tags:
      - Contacts
    delete:
      summary: Delete a contact
      operationId: deleteContact
      responses:
        '200':
          description: Contact deleted
      tags:
      - Contacts
components:
  securitySchemes:
    ApiTokenQuery:
      type: apiKey
      in: query
      name: token
      description: API token passed as the `token` query parameter
    BasicAuth:
      type: http
      scheme: basic
      description: API token used as the username in HTTP Basic Auth
externalDocs:
  description: NodePing API Documentation
  url: https://nodeping.com/docs-api.html
