openapi: 3.1.0
info:
  title: NodePing Accounts Checks API
  description: NodePing provides uptime monitoring for websites and services. The REST API lets accounts manage checks, contacts, contact groups, schedules, results, notifications, and account settings.
  version: '1'
  contact:
    name: NodePing Support
    url: https://nodeping.com/
  license:
    name: Proprietary
    url: https://nodeping.com/
servers:
- url: https://api.nodeping.com/api/1
  description: NodePing API v1
security:
- ApiTokenQuery: []
- BasicAuth: []
tags:
- name: Checks
paths:
  /checks:
    get:
      summary: List checks
      operationId: listChecks
      responses:
        '200':
          description: Checks listed
      tags:
      - Checks
    post:
      summary: Create a check
      operationId: createCheck
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - type
              properties:
                type:
                  type: string
                target:
                  type: string
                label:
                  type: string
                interval:
                  type: integer
                enabled:
                  type: boolean
                notifications:
                  type: array
                  items:
                    type: object
                threshold:
                  type: integer
                sens:
                  type: integer
                public:
                  type: boolean
                autodiag:
                  type: boolean
                runlocations:
                  type: array
                  items:
                    type: string
                homeloc:
                  type: string
                dep:
                  type: string
                mute:
                  type: boolean
                description:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Check created
      tags:
      - Checks
  /checks/{checkid}:
    parameters:
    - in: path
      name: checkid
      required: true
      schema:
        type: string
    get:
      summary: Get a single check
      operationId: getCheck
      responses:
        '200':
          description: Check details
      tags:
      - Checks
    put:
      summary: Update a check
      operationId: updateCheck
      responses:
        '200':
          description: Check updated
      tags:
      - Checks
    delete:
      summary: Delete a check
      operationId: deleteCheck
      responses:
        '200':
          description: Check deleted
      tags:
      - Checks
components:
  securitySchemes:
    ApiTokenQuery:
      type: apiKey
      in: query
      name: token
      description: API token passed as the `token` query parameter
    BasicAuth:
      type: http
      scheme: basic
      description: API token used as the username in HTTP Basic Auth
externalDocs:
  description: NodePing API Documentation
  url: https://nodeping.com/docs-api.html
